
@{
    ViewBag.Title = "Admin Page";
}
@{
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}
<!-- скрипт подключение-->
<script src="http://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
<script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>
<!-- КОНЕЦ скрипт подключение-->
        <div class="container-fluid">
            <div class="row" style="margin-top:100px;">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li class="active"><a href="#">Overview</a></li>
                        <li>@Html.ActionLink("Добавить", "Add", "Admin", routeValues: null, htmlAttributes: new { id = "addLink" })</li>
                        <li>@Html.ActionLink("Удалить", "Del", "Admin", routeValues: null, htmlAttributes: new { id = "delLink" })</li>
                        <li>@Html.ActionLink("Изменить", "Edit", "Admin", routeValues: null, htmlAttributes: new { id = "editLink" })</li>
                        <li>@Html.ActionLink("Детали", "Detal", "Admin", routeValues: null, htmlAttributes: new { id = "detalLink" })</li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li><a href=""></a></li>
                        <li><a href="">Изменить пароль</a></li>
                        <li><a href="">Отправить рассылку</a></li>
                        <li><a href="">Вынести мусор</a></li>
                        <li><a href="">Групповой звонок</a></li>
                    </ul>
                </div>
                <div class="col-sm-9 col-md-10 main">
                    <h1 class="page-header">Сотрудники</h1>

                    <div class="row placeholders">
                        @foreach (var Person in ViewBag.Persons)
                        {
                            foreach (var Id in ViewBag.IdPersonsWhoAdded)
                            {
                                if (Person.Id == Id)
                                {
                        <div class="col-xs-6 col-sm-3 placeholder">
                            <div id="map@(Person.Id)" style="width:200px; height:200px"></div>
                            <script type="text/javascript">
                    var map;
                    DG.then(function () {
                        map = DG.map('map@(Person.Id)', {
                            center: [@Person.Plase],
                            zoom: 13
                        });
                        DG.marker([@Person.Plase]).addTo(map).bindPopup(@Person.PlaseName);
                    });
                            </script>
                            <h4>@Person.Name</h4>
                            <span class="text-muted">
                                <div id="SkypeButton_Call_@(Person.SkypeLogin)_1">
                                    <script type="text/javascript">
                    Skype.ui({
                        "name": "call",
                        "element": "SkypeButton_Call_@(Person.SkypeLogin)_1",
                        "participants": ["@Person.SkypeLogin"],
                        "imageSize": 32
                    });
                                    </script>
                                </div>
                            </span>
                        </div>
                                }
                            }
                        }
                   </div>

                    <h2 class="sub-header">Section title</h2>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Mail</th>
                                    <th>Date</th>
                                    <th>Header</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var Person in ViewBag.Persons)
                                {
                                <tr>
                                    <td>@Person.Id</td>
                                    <td>@Person.Surname @Person.Name @Person.Patronymic</td>
                                    <td>@Person.Mail</td>
                                    <td>@Person.Date</td>
                                    <td>@Person.PhoneNumber</td>
                                    <td>@Person.SkypeLogin</td>
                                    <td>@Person.PlaseName [@Person.Plase]</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
@foreach (var Person in ViewBag.Persons)
{
<script>
    //var to = "почта";
    //var subj = "тема";
    //var text = "письмо";

    function SendMail(sRecipientMail, sSubject, sMsgBody, subj, text, files) {
        
        var to = "@Person.Mail";
        try {
            // create a session and log on -- username and password in profile    
            var refMsg = WScript.CreateObject("CDO.Message");
            var refConf = WScript.CreateObject("CDO.Configuration");

            // Setting configuration params   
            with (refConf.Fields) {
                Item("http://schemas.microsoft.com/cdo/configuration/smtpserver") = "smtp.mail.ru";
                Item("http://schemas.microsoft.com/cdo/configuration/sendusing") = 2;
                Item("http://schemas.microsoft.com/cdo/configuration/smtpauthenticate") = 1;
                Item("http://schemas.microsoft.com/cdo/configuration/sendusername") = "lou@list.ru";
                Item("http://schemas.microsoft.com/cdo/configuration/sendpassword") = "****";
            }
            refConf.Fields.Update();

            with (refMsg) {
                Configuration = refConf;
                To = sRecipientMail;
                From = "lou@list.ru";
                Subject = sSubject;
                TextBody = sMsgBody;
            }

            if (files) {
                for (var i = 0; i < files.length; i++)
                    refMsg.AddAttachment(files[i]);
            }

            refMsg.Send();
        }
        catch (e) {
            WScript.Echo("SendMail error !!! : " + e.description);
            WScript.Quit(1);
        }
        }

</script>
}
            <!-- Modal -->
            <div style="" class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Отправить письмо</h4>
                        </div>
                        <div class="modal-body">
                                <td align="center">
                                    <h3>Рассылка</h3>
                                    <form method="post" onsubmit="SendMail(this.email.value, this.user.value, this.tel.value,this.sbdg.value,this.text.value); return false" action="">
                                        <p><input type="text" size="40" placeholder="Ваше имя" name="user" value="Админ"></p>
                                        <p><input type="text" size="40" placeholder="Телефон" name="tel"></p>
                                        <p><input type="text" size="40" placeholder="Ваш E-mail" name="email"></p>
  
                                        <p><input type="text" size="40" placeholder="Тема" name="sbdg"></p>
                                        <p><input type="text" size="40" placeholder="Сообщение" name="text"></p>
                                        
                                        <p><input type="submit" value="Отправить"></p>
                                    </form>
                                    <br>* Поля Имя и email обязательны для заполнения
                            </div>
                            
                        </div><!--modal-body end-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        </div><!--modal-footer end-->
                    </div><!--modal-content end-->
                </div>
            </div><!-- Modal конец -->