@{
    ViewBag.Title = "Home Page";
}
@if (Request.IsAuthenticated)
{ 
<!-- скрипт подключение-->
<script src="http://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
<script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>
<!-- КОНЕЦ скрипт подключение-->
foreach(var Id in ViewBag.IdPersonsWhoAdded)
{
    <script>add(@Id);</script>
}
foreach (var Person in ViewBag.Persons)
{
    <article class="result-list-item" data-toggle="modal" data-target="#@Person.Id">
        <h2>@Person.Surname @Person.Name @Person.Patronymic</h2>
        <div class="result-list-item-is-hover" >
            <p>@Person.Mail</p>
            <p>@Person.Date</p>
            <a href="skype:@Person.PhoneNumber?call">Мобильный звонок </a>
            <!-- Скайп скрипт начало-->
            <div id="SkypeButton_Call_@(Person.SkypeLogin)_1">
                <script type="text/javascript">
                    Skype.ui({
                        "name": "call",
                        "element": "SkypeButton_Call_@(Person.SkypeLogin)_1",
                        "participants": ["@Person.SkypeLogin"],
                        "imageSize": 32
                    });
                </script>
            </div>
            <!-- Скайп скрипт конец-->
        </div>
    </article>

    <!-- Modal -->
    <div style="" class="modal fade" id="@Person.Id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  data-backdrop="false" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">@Person.Surname @Person.Name @Person.Patronymic</h4>
                </div>
                <div class="modal-body">
                        <p>@Person.Mail</p>
                        <p>@Person.Date</p>
                        <a href="skype:@Person.PhoneNumber?call">Мобильный звонок </a>
                    <div id="SkypeButton_Call_@(Person.SkypeLogin)_2">
                    </div>
                    <div id="map" style="width:300px; height:200px"></div>
                    <script type="text/javascript">
                    var map;
                    DG.then(function () {
                        map = DG.map('map', {
                            center: [@Person.Plase],
                            zoom: 13
                        });
                        DG.marker([@Person.Plase]).addTo(map).bindPopup(@Person.PlaseName);
                    });
                    </script>
                </div><!--modal-body end-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary copy">Копировать</button>
                    <form>
                        <button type="submit" formmethod="get" name="Id" class="btn btn-primary" value="@Person.Id">Сравнить</button>
                    </form>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
</div><!--modal-footer end-->
            </div><!--modal-content end-->
        </div>
    </div><!-- Modal конец -->
} <!-- Конец цикла вывода списка персон-->
<!--
    Добавление кнопки скрипт вариант 1; 
    Больше не применяется; Обновление страницы ломает метод;//fix
    Применяется
    Не трогать
-->
<script>
    function add(id) {
        var button = document.createElement("button");
        button.className = "btn btn-primary dropdown-toggle";
        button.innerHTML = id
            + "<ul class='dropdown-menu' role='menu'><li>"
            + "<form><button type='button' formmethod='get' name='Id' class='btn btn-primary' value='"
            + id
            + "'>"
            +"Убрать</button></form></li></ul>";
        var sectionElement = document.getElementById("selectedPerson");
        sectionElement.appendChild(button);
    }
</script>
<!--
    Копирование текста из модального окна
    Не трогать
-->
<script>
    var copyEmailBtn = document.querySelector('.copy');
copyEmailBtn.addEventListener('click', function(event) {
    // Выборка ссылки из модального окна
    var emailLink = document.querySelector('.modal-dialog');
  var range = document.createRange();
  range.selectNode(emailLink);
  window.getSelection().addRange(range);
  try {
    // Теперь, когда мы выбрали текст ссылки, выполним команду копирования
    var successful = document.execCommand('copy');
    var msg = successful ? 'successful' : 'unsuccessful';
    console.log('Copy email command was ' + msg);
  } catch(err) {
    console.log('Oops, unable to copy');
  }
  // Снятие выделения - ВНИМАНИЕ: вы должны использовать
  // removeRange(range) когда это возможно
  window.getSelection().removeAllRanges();
});</script>
}